<h2>Edit <%= @exibition.title %></h2>
<form method="POST" action="/exibitions/<%= @exibition.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="id">ID:</label>
      <input type="text" name="id" id="id" value="<%= @exibition.id%>"/>
    </div>

    <div class="form-el">
      <label for="id">ID:</label>
      <input type="text" name="artist_id" id="id" value="<%= @exibition.artist_id%>"/>
    </div>

    <div class="form-el">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" value="<%= @exibition.title %>"/>
    </div>

    <div class="form-el">
      <label for="category">Category:</label>
      <input type="text" name="category" id="category" value="<%= @exibition.category%>"/>
    </div>

    <div class="form-el">
      <label for="artist_select">Assign Artist:</label>
      <select name="artist_id" id="artist_select">
        <% @artists.each do |artist| %>
            <option value=<%= artist.id %>><%= artist.alias %></option>
        <% end %>
      </select>
    </div>



    <div class="form-el">
        <input type="submit" value="Save"/>
      </div>
    </div>
</form>
