<h2>Edit <%= @exibition.title %></h2>
<form method="POST" action="/exibitions/<%= @exibition.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" value="<%= @exibition.title %>"/>
    </div>

    <div class="form-el">
      <label for="category">Category:</label>
      <input type="text" name="category" id="category" value="<%= @exibition.category%>"/>
    </div>

    <div class="form-el">
      <label for="artist">Artist:</label>
      <input type="text" name="artist" id="artist" value="<%= @exibition.artist.alias %>"/>
    </div>






    <div class="form-el">
        <input type="submit" value="Save"/>
      </div>
    </div>
</form>
