<h2><%= @exibition.title %></h2>

<p>Artist:<%= @exibition.artist.alias %> </p>
<p>Category: <%= @exibition.category %></p>

<a href="/exibitions/<%= @exibition.id %>/edit">Edit</a>
<form action="/exibitions/<%= @exibition.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
